/* src/index.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body base styles */
body, html, #root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a192f, #020c1b);
  color: #ccd6f6;
  scroll-behavior: smooth;
}

/* Links default style */
a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}
